@{
    ViewBag.Title = "Welcome To The Spoticom";
}
    <div class="row cb-slideshow-text-container ">
        <div class="tm-content col-xl-6 col-sm-8 col-xs-8 ml-auto section">
            <header class="mb-5"><h1>Welcome to the Spoticom</h1></header>
            <P class="mb-5">Here we can find out your taste and mood then recemmend songs!</P>
            <a class="SpotifyGreenButton" href="@Url.Action("StartAuthorization","Home")">
                <span style="margin:auto">Login With Spotify<span><img src="~/Content/img/spotify.png" style="margin-left:10px;" height="27px" /></span></span>
            </a>
        </div>
    </div>
